version: '3.8'
services:
  postgres:
    env_file:
      - .env
    image: postgres:15
    container_name: link-shorter-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: link-shorter-app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  nginx:
    image: nginx:alpine
    container_name: link-shorter-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - app

volumes:
  postgres_data: